<header class="bg-header">
    <div class="container">
        <div class="<div col-lg-12 col-md-12 col-sm-12">
            <h1 class="home wow slideInDown">Gary King Web</h1>
            <div class="wow fadeIn">
            </div>
        </div>
    </div>
</header>
<div class="slider .visible-xs-block, hidden-xs .visible-sm-block, hidden-sm">
    <div class="cycle-slideshow"
         data-cycle-fx="fade"
         data-cycle-pause-on-hover="false"
         data-cycle-slides="> h3"
         data-cycle-speed="2000"
    >

        <h3>RESPONSIVE WEB DEV</h3>

        <h3>LATEST TECHNOLOGIES
            <span class="slideshow-icons">
                <i class="fab fa-css3" aria-hidden="true"></i>&nbsp;
                <i class="fab fa-angular" aria-hidden="true"></i>&nbsp;
                <i class="fab fa-html5" aria-hidden="true"></i>&nbsp;
                <i class="fab fa-php" aria-hidden="true"></i>&nbsp;
                <i class="fab fa-adobe" aria-hidden="true"></i>&nbsp;
                <i class="fab fa-sass" aria-hidden="true"></i>&nbsp;
                <i class="fab fa-less" aria-hidden="true"></i>&nbsp;
            </span>
        </h3>

        <h3>Angular > CSS > HTML5 </h3>
    </div>
</div>
<!-- end slider -->
<!--technology -->
<section id="technology" class="bg-light">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Current</h2>
            <p>I am a Seattle based web developer with 15 years experience.</p>
            <p>
                I am currently employed by Sesame Communications Inc. as a Senior Web
                Dev (8 years). As a web developer for this company I have personally built hundreds of premium websites
                for the dental and orthodontic industry. In addition, I have provided web services to a variety of
                companies and advertising agencies.
            </p>

            <p>My goal is to provide expertise that will yield an easy to use and visually pleasing online presence.</p>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 technology-right">
            <h2>Skills</h2>
            <p>HTML5, Angular [1, 2, 4, 5, 6, 7], CSS3, LESS, SCSS, PHP, TypeScript, Express, Adobe Creative Suite,
                jQuery, Bootstrap.</p>

            <hr/>

            <p><i class="fas fa-mobile-alt"></i>&nbsp;Responsive, Animations, UI/UX, <i class="fab fa-html5"
                                                                                        aria-hidden="true"></i>&nbsp;W3C
                Compliancy,
                <br/><i class="fas fa-wheelchair"></i> Web Accessibility.
            </p>

            <h4>Version Control</h4>
            <p>
                <i class="fab fa-git"></i> Git,
                <i class="fab fa-bitbucket"></i> Bitbucket</p>

        </div>
    </div>
</section>

<section id="responsive-web" class="bg-medium">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Recent Projects</h2>
            <p>
                <i class="fa fa-angle-right"></i>&nbsp;Developed and
                maintained the local environment tools for the web-dev team using the Angular javascript framework.
            </p>
            <p>
                <i class="fas fa-angle-right"></i>&nbsp;
                Built 350+ premium websites.<br/>
                <i class="fas fa-angle-right"></i>&nbsp;
                Created and maintained local web-dev environment and responsive buildkits.
            </p>
            <p>
                <i>Including the following tool modules:</i><br/>
                Color Styler<br/>
                301 Redirect Generator<br/>
                HTML/CSS Generator <br/>
                SEO Schema Generator<br/>
                Font Manager<br/>
                Image Manager<br/>
            </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Services</h2>


            <div class="co-wrap-left">
                <div class="responsive1">
                    <i class="fas fa-mobile-alt"></i> Responsive
                    <p class="xtra-left1">Responsive coding for mobile, tablet and desktop devices. Info coming soon!</p>
                </div>

                <div class="content2">
                    <i class="fas fa-user-edit"></i> Content Updates
                    <p class="xtra-left2"> Info coming soon!</p>
                </div>
            </div>

            <div class="co-wrap-right">

            </div>

        </div>
    </div>
</section>

<section class="section-testimonials">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Testimonials</h3>
            <div class="testimonial-slideshow"
                 data-cycle-fx="fade"
                 data-cycle-pause-on-hover="true"
                 data-cycle-slides="> div"
                 data-cycle-timeout="5000"
                 data-cycle-speed="2000"
                 data-cycle-prev=#prev
                 data-cycle-next=#next
                 data-cycle-auto-height=container
            >
                <div class="testimonial-slide">
                    Gary is a very knowledgable developer with thoughtful insights on perfecting processes. He has
                    taken
                    on several projects that helped streamline builds for our team and has created templates and
                    widgets
                    to make our websites look even more modern. He is friendly and easy to work with and always
                    always willing to offer help to his teammates. I highly recommend him!

                    <div>~ Amber Lamb, Graphic Designer, Illustrator and Web Dev</div>
                </div>
                <div class="testimonial-slide">

                    Gary is a very innovative web developer with an impressive level of knowledge of overall web
                    development, including but not limited to responsive design, UI tools, and making highly
                    reusable
                    boilerplate templates from scratch. I had the pleasure of working with him on an application
                    component that allows for real time template color changes that utilized CSS, LESS, JavaScript,
                    AJAX, and PHP. His desire to make innovative tools that users will actually enjoy using really
                    shows in his work. We learned a lot from each other by working on that product and sharing our
                    knowledge on how to make it better. I have zero hesitation in saying that he would be a valuable
                    asset on any design or development team.

                    <div>~ Jeremy Perry, Senior Software Engineer at Sound Transit</div>
                </div>
                <div class="testimonial-slide">

                    Gary was our go-to developer for anything tricky. He has a passion for solving complex questions
                    with usable solutions. Gary is always looking for that better/faster/prettier way to accomplish
                    the
                    desired result. His creative and fun personality, paired with his incredible technical
                    abilities,
                    make him a vital asset to any team. I highly recommend Gary.
                    <div>~ Jordan Brown Creative Services at Redfin</div>
                </div>
                <div class="testimonial-slide">
                    Gary is a capable and creative web developer who is always available to help other team members.
                    Gary goes above and beyond to find new development solutions and would be an asset to any
                    development company.
                    <div>~ Judy Johnson</div>
                </div>
                <div class="testimonial-slide">

                    I have worked with Gary for a couple of years at Sesame Communications. Gary was often the one
                    that
                    created the sites that I was managing. I could always count on him for solid builds and the
                    willingness to try new things. He has been an important asset in helping us streamline processes
                    and efficiencies of the web team. Gary is great to work with and a valuable asset to any team.

                    <div>~ Renee Lico, Project Manager/ Problem Solver for Creative Agencies and Non-Profits</div>

                </div>
                <div class="testimonial-slide">

                    Gary is one of my all-time favorite web developers. His work is clean and beautiful. He is able
                    to
                    tackle crazy requests that we've never done before (mobile features, responsive template
                    designs,
                    in-house CMS, automated features, etc) and he keeps a pleasant demeanor and clear communication
                    with the rest of the team. I highly recommend Gary for front end and back end development, and
                    hope to work with him again someday!

                    <div>~ Brittany Hunt, Freelance Digital Designer, Project Manager, & Artist</div>
                </div>
                <div class="testimonial-slide">

                    As Gary’s manager, I can describe him as conscientious, innovative, knowledgeable with a solid
                    work
                    ethic. He is a seasoned web developer with advanced skills in html5, php, jQuery, php
                    frameworks,
                    CMS, and Adobe Creative Suite. I would highly recommend Gary. He would be a great asset to any
                    organization.

                    <div>Jon Kauffman, Technical Project Manager at Formative</div>
                </div>
                <div class="testimonial-slide">

                    Gary has a passion for web development spending many years of self-study to improve his
                    programming
                    skills. One of his most impressive projects is working extensively on the framework of Sesame
                    Communications's customers' websites to cut down production time.

                    He speaks his mind at meetings with other teams with solutions to remove roadblocks for all
                    parties.

                    <div>~ Matt Jennings, WordPress Developer Contractor through Mindtree at Microsoft</div>
                </div>
            </div>
        </div>
        <!-- testimonials -->
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Clients</h3>
            <p class="client-list">Tera Vintage Jewelry, Draft FCB Advertising, Purdie Rogers Advertising, Rebla Art &
                Hair Design, The Showbox Nightclub, Sage Surfaces, Lifetime Lumber, Mama’s Mexican Kitchen, Custom Bilt
                Metals, Alta Logistics, Accurate Heating & Electrical, Mikron Vinyl, Energycore Windows, Sesame
                Communications, Inc.
            </p>
        </div>
    </div>
</section>


